PredictiveIoT/WebContent/wsdl/zalert.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ZALERT_IOT_WS">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_ZALERT_IOT">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ZALERT_IOT_IS">
    <xsd:sequence>
     <xsd:element name="ZTEMPERATURA" type="tns:char10"/>
     <xsd:element name="ZUMIDITA" type="tns:char10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ZALERT_IOT_OS">
    <xsd:sequence>
     <xsd:element name="RISPOSTA" type="tns:char10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ZALERT_IOT">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="INPUT" type="tns:ZALERT_IOT_IS"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="ZALERT_IOTResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="OUTPUT" type="tns:ZALERT_IOT_OS"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="ZALERT_IOT">
  <wsdl:part name="parameters" element="tns:ZALERT_IOT"/>
 </wsdl:message>
 <wsdl:message name="ZALERT_IOTResponse">
  <wsdl:part name="parameter" element="tns:ZALERT_IOTResponse"/>
 </wsdl:message>
 <wsdl:portType name="ZALERT_IOT_WS">
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_ZALERT_IOT_WS"/>
  </wsp:Policy>
  <wsdl:operation name="ZALERT_IOT">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_ZALERT_IOT"/>
   </wsp:Policy>
   <wsdl:input message="tns:ZALERT_IOT"/>
   <wsdl:output message="tns:ZALERT_IOTResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>